body {
    background-color: #F2FAFD ;
    height: 100vh; /*vh means it will take 100% of the height of the browser window*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
section{
    width: 90%;
    height: auto;
    border-radius: 30px;
    background-color: white;
    min-height: auto;
    min-height: 400px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: x-large;
}

section button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;    
    margin-top: 40px;
}

section button:hover{
    background-color: #45a049;
}