ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/*todo1*/
p{color:red;

}

/*todo2*/
.note{font-size: 20px;}

/*todo3*/
#id-selector-demo{color:  green;}

/*todo4*/
li[value="4"] {color: blue;}

/*todo5*/
*{text-align: center}