{% extends "layout.html" %}
{% block body %}
<div class="card">
    <img src="/static/Images/shubham.jpeg" class="card-img-top" alt="My photo">
    <div class="card-body">
        <h5 class="card-title">A bit about me</h5>
        <p class="card-text">Currently on a break, for folks looking for referral at Revolut, I may not be able to help</p>
        <p class = "card-text">An ex-strategy consultant with experience in Insurance; Retail; Banking; QSR and Hospitality verticals. Love solving complex problems by approaching them from first principles.</p>
        <a href="/contact" class="btn btn-primary">Contact Me</a>
    </div>
</div>


{% endblock %}s 