{% extends "layout.html" %}

{% block body %}
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        IIM Calcutta, Class of '16
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Spent some time learning intricacies of business, which later realised was mostly useless</strong> 
        <hr>
        <p>Some other activities included:</p>
        <ul>
            <li>Ranked 8 from amongst a 412 strong batch after the completion of 1st year (Top 2%)</li>
            <li>Interned at Alitsource in 2015 summers, and received a PPO</li>
            <li>Wanted to but could not participate in any major competitions</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        IIT Roorkee, Class of '12'
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>Played football for first 2 years and then realised Metallurgy students have no career prospects</strong>
        <hr>
        <p>Some other activities included</p>
        <ul>
            <li>Played Inter IIT held in Kanpur representing IIT Roorkee in Football , among other tournaments</li>
            <li>Stood IR-2 in Sem6 with a GPA of 9.4</li>
            <li>Spent a lot of time whiling away with movies and TV shows</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        St. Xavier's High School, Class of '07'
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Skipped a lot of classes in 11th and 12th to go and play Football</strong> 
        <hr> 
        <p>Some other activities included</p>
        <ul>
            <li>Played CBSE Football Nationals held in West Bengal in 2006</li>
            <li>Held the position of Prefect for senior years</li>
            <li>Was the Hindi Editor for School magazine</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock%}