{% extends "layout.html" %}

{% block body %}
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Revolut, May'24-Apr'25
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>Probably the least interesting work experience for me, working with the Fincrime team in an ops role</strong> 
        <hr>
        <p>Some key projects included:</p>
        <ul>
            <li>Worked on reducing Fincrime complaints by liasing with product and ops teams; reduced by 30%</li>
            <li>Worked on rationalising cost by reducing unnecessary upstream incidents escalated to FIU, reduced by 20%</li>
            <li>Launched new bonus setup for Fincrime agents, aligning incentives with business goals</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Leena AI, May'22-Apr'24
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>First time worked in B2B SaaS, was extremely interesting</strong>
        <hr>
        <p>Some key projects included:</p>
        <ul>
            <li>Liaised with revenue functions to drive 70% growth YoY with 80% reduction in burn</li>
            <li>Led expansion in existing customers to drive a Net Recurring Revenue of 110%+</li>
            <li>Re-imagined global GTM driving 2X conversions and 50% higher contract value</li>
            <li>Led annual business planning for the company; including incentives for SDRs; CSMs; AEs</li>
        </ul>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Uber, Dec'18-Apr'22
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Most interesting work I was engaged with in my 10 years of corporate career</strong> 
        <hr> 
        <p>Some key projects included:</p>
        <ul>
            <li>Leading a team of 2 for maximising demand through pricing and incentives optimisation for Moto Product</li>
            <li>Launched GoSedan, a mid-tier product to expand the Sedan category from Premier only</li>
            <li>Delivered 20% growth in rider up-sell, 10% higher earnings for drivers; with 2pp higher margins</li>
            <li>Promoted to Senior Regional Ops Manager in 1 year for top quartile performance</li>
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock%}