.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


/*Defining CSS for title*/

#title {
  height: 90vh;
}

#titleDiv {
  display: flex;
  justify-content: space-evenly;
}

#title img {
  padding-right: 15%;
  padding-top: 5%;
  height: 90vh;
}


#titleInternal {
  margin-top: 15%;
  max-width: 500px;
  margin-left: 5%;
}

#h1Internal {
  font-weight: bold;
  font-size: 50px;
}

#appleButton {
  margin-right: 15px;
  
}


/*Defining CSS for Features Secion*/
#features {
  margin-top: 5px;
  
}

/*Defining CSS for Testimonials*/
#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5 ;
  padding-top: 75px;
  padding-bottom: 40px;
}

#testimonial >img {
  height: 100px;
  border-radius: 100%;
  margin-top: 5px;
  margin-bottom: 2px;
}

.testi {
  margin-top: 50px;
  height: 30px;
  width: max-content;
}

#testiRows {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:50px;
  padding-bottom: 30px;
}


/*Defining CSS for Pricing Secion*/
#pricing {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
}

#priceBoxes {
  margin-top: 30px;
}

#paraPricing {
  margin-top: 20px;
}