/*html or body*/
body {
    background-color: #F5F9FC;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}

/*header*/
header {
    min-height: 400px;
    text-align: center;
    margin:0px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

/*image*/
img {
    width: 100%;
    max-height: 600px;
}
/*H1 and p for header*/
header div {
    position: absolute;
    top: 20%;
    color: white;
    text-align: center  ;
    font-size: x-large;
}

/*button for header*/
header button{
    background-color: #1E5ED4;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: white;
    width: 40%;
    min-height: 30px;
    cursor: pointer;
}

header button:hover {
    background-color: lightblue;
}

/*section for features*/

section {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 200px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly;
}

/*feature div*/

section div {
    min-width:250px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

/*footer*/

footer{
    min-height: 70px;
    background-color: #2E2E2E  ;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px;
}