/* Updating the nav bar first */

.navBar {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50px;
    gap: 0px;
    justify-content: flex-end;
    margin-right: 50px;
}

a {
    padding-right: 30px;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-size: 20px;
}

.googleImage {
    
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

img {
    height: 150px;
}

form {
    margin-top: 20px;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

#querySearch {
    height: 50px;
    width: 50%;
    border-color: white;
    border-radius: 25px;
    border: solid;
}

#submitButton, #luckyButton {
    height: 40px;
    width: 25%;
    border-color:lightgray;
    border-radius: 5px;
}

#buttons {
    
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}