.navBar {
    display: flex;
    gap: 80%;
    align-items: center;
}

hr {
  border: none;
  border-top: 1px solid lightgrey;  /* Change 'red' to any color */
}

a {
    padding-right: 30px;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-size: 20px;
}

h3 {
    color: red;
    margin-left: 10%;
    font-weight: 100;
    margin-top: 5%;
}

h4 {
    margin-left: 10%;
    font-weight: 100;
    font-size: large;
}

form {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1.2fr 2fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    gap: 20px;
    
}

/*Implementing grid area for labels */

label {
    
    
    font-size: 15px;
    
    
}

#allWordsLabel {
    
    grid-area: 1/1/2/2;
}

#exactWordsLabel {
    
    grid-area: 2/1/3/2;
}

#anyWordsLabel {
    
    grid-area: 3/1/4/2;
}

#noneWordsLabel {
    
    grid-area: 4/1/5/2;
}

/*Implementing grid area for input boxes */

#allWords {
    grid-area: 1/2/2/3;
}

#exactWords {
    grid-area: 2/2/3/3;
}

#anyWords {
    grid-area: 3/2/4/3;
}

#noneWords {
    grid-area: 4/2/5/3;
}


/*Implementing cSS for Advanced Search Button*/

#submitButton {
    grid-area: 5/2/6/3;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5%;
}
