<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href = "/styles/style.css" rel = "stylesheet">
    <style>
        footer {position: fixed; bottom: 0; width: 100%; background-color: lightblue; }
        main {margin-top: 2% ; margin-left: 2%;}
        h2 {margin-bottom: 20px;}
        

    </style>    
</head>

<body>
    <!--Defining the header-->
    <%- include('header')%>

    <!--Defining the body-->
    <main>
        <% if (locals.blog) {%>
            <h2>View all blog posts</h2>
            <ul>
                <% for (var i = 0; i < blog.length; i++) {%>
                    <li><a href = "/view/<%=blog[i].id%>"><%= blog[i]["title"]%></a></li>
                <%}} else {%>
                    <h2>Sorry, we could not load the blog posts, pls try again</h2>
                <%}%>
            </ul>
    </main>

    <!--Defining the footer-->
    <%- include('footer')%>
    
</body>
</html>