/**/
body{
    margin: 0px;
}

/*Header*/
.header{
    background-color: #265E6B;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header a{
    color: white;
    text-decoration: none;
}

/*Main Image*/

.main_image{
    min-height: 200px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main_image img{
    width: 100%;
    height: 600px;
}

.main_text {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    top: 25%;
    padding: 10px 40px;;
    font-size: 24px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#line1{
    font-size: 36px;
}

#button1{
    background-color: #ED8365;
    border-radius: 8px;
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    color: white;
    border-color: 0.1px white;
    cursor: pointer;
}
/*Services*/
.services {
    min-height: 80px;
    background-color: white;
    padding: 10px;
}
.services h3{
    color: blue;
}

/*About*/
.about {
    min-height: 80px;
    background-color:   #F2F2F2;
    padding: 10px;
}
.about h3{
    color: green;
}

/*Contact*/
.contact{
    min-height: 80px;
    background-color: white;
    padding: 10px;
}

.contact h3{
    color: red;

}

/*Footer*/

.footer {
    min-height: 40px;
    background-color: #265E6B;
    color: white;
    text-align: center;
    padding: 10px;

}