body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header*/
header {

    height: 60px;
    background-color: #7A9DAA;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*section*/
section {
    background-color: #FFFCEE;
    min-height: 500px;
    padding: 20px 20px;
}

/*section main text*/
.main_header{
    border: 2px solid black;
    width: 90%;
    min-width: none;
    padding: 10px;
    min-height: 50px;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 40px auto;
}

/* Only apply flex centering for first box */
.main_header:first-of-type {
    display: flex;
    align-items: center;
}

/*section ingredients + instructions*/
.main_header h2{
    color: #9B4F7D


}


/*section instructions*/

/*footer*/
footer {
    min-height: 40px;
    
    background-color: #7A9DAA;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}