html {background-color: black;}
div {width: 50%;  margin-left: 25%; margin-top: 10%;}
img {width: 100%; border: 5px solid white}
h1 {color: white; text-align: center;}
p {color: white; text-align: center;}